#jqt > div.menusheet {
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
    height: 100%;
    width: 260px;
}
#jqt.black-translucent > div.menusheet {
    padding-top: 20px;
}
#jqt.menuopened {
    /*width: 100%;*/
    overflow: hidden;
}

#jqt > .transition {
    -webkit-transition-property: translate3d, opacity, background-color;
    -webkit-transition-duration: 150ms;
    -webkit-transition-fill-mode: both;
    -webkit-transition-timing-function: ease-in-out;
}

#jqt.menuopened > .current {
    -webkit-transform: translate3d(260px, 0, 0) rotate(0) scale(1);
    z-index: 20;
}

#jqt.menuopened > .current::after {
    display: block;
    position: absolute;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0);
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 20;
    content: "";
}

#jqt.menuopened > .menusheet.current {
    -webkit-transform: translate3d(0, 0, 0) rotate(0) scale(1);  
    -webkit-box-shadow: none;
    border-left: none;
    z-index: 0;
}

#jqt.menuopened > .menusheet.current::after {
    display: none;
}

#jqt > div.menusheet > *:first-child {
    margin-top: 0px;
}